.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f7f8;
  margin: 2rem;
  border-radius: 10px;
}

#survey-form {
  display: grid;
  gap: 1rem;
  width: 75%;
}

.form-item {
  display: grid;
}

.text-input {
  padding: 10px;
  background-color: #e8eeef;
  border: none;
  border-radius: 5px;
  /*   box-shadow: inset 1px 1px grey; */
  outline: none;
}

.text-input:focus {
  box-shadow: 0 0 0 2px lightblue;
}
